
<br>
<div class="col-md-12">
    <div class="col-md-7">
        <ul class="nav nav-pills">
            <li><a href="#/admin_add_information">เพิ่มข่าวประชาสัมพันธ์</a></li>  
            <li><a href="#/courseAdd">เพิ่มวิชาในหลักสูตร</a></li>
            <li><a href="#/course_subject_1">เพิ่มแผนการเรียน</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    ผู้ใช้งานระบบ <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/teacher">เพิ่มอาจารย์</a></li>
                    <li><a href="#/parent">เพิ่มผู้ปกครอง</a></li>
                    <li><a href="#/student">เพิ่มนักศึกษา</a></li>
                    <li class="active"><a href="#/user_show">ข้อมูลผู้ใช้งานระบบ</a></li> 
                </ul>
            </li>
        </ul>
    </div>
    <br>
    <div class="form-group col-md-7">
        <a href="#/teacher"><input value="เพิ่มอาจารย์" type="submit" class="btn btn-primary"></a>
        <a href="#/student"><input value="เพิ่มนักศึกษา" type="submit" class="btn btn-primary"></a>
        <a href="#/parent"><input value="เพิ่มผู้ปกครอง" type="submit" class="btn btn-primary"></a>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label class="panel-title">ค้นหาชื่อ หรือ อีเมล์</label>
            </div>
            <div class="panel-body" style="height: 70px">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3">ค้นหา</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control col-md-3" ng-model="keyword"></span>
                        </div>
                        <button class="btn btn-default" ng-click="searchUser(keyword)">
                            <span class="mdi-action-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">ผู้ใช้งานในระบบทั้งหมด</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="form-group">

                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th  width="25%">ชื่อผู้ใช้งาน</th>
                                    <th  width="25%">อีเมล์</th>
                                    <th  width="15%">รหัสผ่าน</th>
                                    <th  width="15%">กำหนดสิทธิ์</th>
                                    <th  width="10%">แก้ไข</th>
                                    <th  width="10%">ลบ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="us in usershow.content">
                                    <td style="padding:0 20px"  width="25%">{{us.name}}</td>
                                    <td  width="25%">{{us.email}}</td>
                                    <td  width="15%">{{us.password}}</td>
                                    <td  width="15%">{{us.dtype}}</td>
                                    <td  width="10%">
                                        <button ng-click="edit(us)">
                                            <span class="mdi-editor-mode-edit"></span>
                                        </button>
                                    </td>
                                    <td  width="10%">
                                        <button ng-click="clickDelete(us)" data-toggle="modal" data-target="#complete-dialog-userdelete">
                                            <span class="mdi-action-delete"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <ul class="pagination pull-right">
                    <li id="firstpageuser"><a ng-click="firstPageUser()">&Lt;</a></li>
                    <li id="prepageuser" ><a ng-click="prePageUser()">&lt;</a></li>
                    <li><a>{{page + 1}}</a></li>
                    <li id="nextpageuser"><a ng-click="nextPageUser()">&gt;</a></li>
                    <li id="finalpageuser"><a ng-click="finalPageUser()">&gg;</a></li>
                </ul>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" style="width: 100%"></div>
            </div>

        </div>
    </div>

</div>





<div id="complete-dialog-userdelete" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">ยืนยันการลบ</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" ng-click="deleteUser(delete)" data-toggle="modal" data-target="#complete-dialog-userdelete">ลบ</button>
                <button class="btn btn-primary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
