<br>
<div class="col-md-11">
    <ul class="nav nav-pills">
        <li><a href="#/admin_add_information">เพิ่มข่าวประชาสัมพันธ์</a></li> 
        <li><a href="#/courseAdd">เพิ่มวิชาในหลักสูตร</a></li>
        <li><a href="#/course_subject_1">เพิ่มแผนการเรียน</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                ผู้ใช้งานระบบ <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li  class="active"><a href="#/teacher">เพิ่มอาจารย์</a></li>
                <li><a href="#/parent">เพิ่มผู้ปกครอง</a></li>
                <li><a href="#/student">เพิ่มนักศึกษา</a></li> 
                <li><a href="#/user_show">ข้อมูลผู้ใช้งานระบบ</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="col-md-10">
    <br>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">เพิ่มอาจารย์ที่ปรึกษา :</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="icon-preview">
                                    <label class="col-md-3 control-label "> ชื่อผู้ใช้งาน :</label>
                                    <div class="col-md-5"><span style="color: red">{{teachererror.violations.name.message}}</span>
                                        <input type="username" class="form-control" placeholder="Enter name"ng-model="teacher.name" ng-change="teachererror.violations.name.message = ''">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> รหัสผ่าน :</label>
                                <div class="col-md-5"><span style="color: red">{{teachererror.violations.password.message}}</span>
                                    <input type="password" ng-change="checkPasswordTeacher()" class="form-control" placeholder="Enter password" ng-model="teacher.password" ng-change="teachererror.violations.password.message = ''">
                                </div>
                            </div>
                            <div class="form-group"><i id="confirm" class=""></i>
                                <label class="col-md-3 control-label"> ยืนยันรหัสผ่าน :</label>
                                <div class="col-md-5"><span style="color: red">{{teachererror.violations.password.message}}</span>
                                    <input ng-change="checkPasswordTeacher()" type="password" class="form-control" placeholder="Confirm password" ng-model="password" ng-change="teachererror.violations.password.message = ''">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> อีเมล์ :</label>
                                <div class="col-md-5"><span style="color: red">{{teachererror.violations.email.message}}</span>
                                    <input type="email" class="form-control" placeholder="Enter email" ng-model="teacher.email" ng-change="teachererror.violations.email.message = ''">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> สถานะ :</label>
                                <div class="col-md-5">
                                    <div class="radio radio-success">
                                        <label>
                                            <input type="radio" name="sample1" value="admin" ng-model="teacher.status" checked="">
                                            Admin
                                        </label>
                                        <label>
                                            <input type="radio" name="sample1" value="teacher" ng-model="teacher.status" checked="">
                                            Teacher
                                        </label>
                                    </div> 
                                    <script>$.material.init()</script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-5">

                                    <input value="บันทึก" type="submit" class="btn btn-success"   ng-click="saveTeacher()">
                                    <input value="เคลียร์" type="submit" class="btn btn-info" ng-click="clearUser()">
                                    <a href="#/user_show"><input value="ยกเลิก" type="submit" class="btn btn-danger"></a>
                                </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
        </div>
    </div>
</div>


<div id="complete-dialog-saveteacher" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">บันทึกสำเร็จ</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">ตกลง</button> 
            </div>
        </div>
    </div>
</div>
