
<div class="col-md-12">
    <br>
    <div class="col-md-6">
        <div><a href="#/adviseAdd"><button class="btn btn-success" style="width: 200px">เพิ่มคำปรึกษา</button></a></div>
    </div>
    <div class="col-md-6" ng-show="checkTeacherLogin()">
        <div class="panel panel-primary">
            <div class="panel-heading">ค้นหาชื่อ :
            </div>
            <div class="panel-body" style="height: 70px">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3">Search</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control col-md-3" ng-model="keyword">
                        </div>
                        <button class="btn btn-default" ng-click="adviseSearch(keyword)">
                            <span class="mdi-action-search"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">คำปรึกษา</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>                           
                                    <th ng-show="advisorshowname()" style="width: 20%">นักศึกษา</th>
                                    <th style="width: 10%">วันที่-เวลา</th>
                                    <th style="width: 10%">หมวด</th>
                                    <th style="width: 15%">ชื่อเรื่อง</th>
                                    <th style="width: 35%">รายละเอียดคำปรึกษา</th>
                                    <th style="width: 10%">download</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="advi in adviseshow.content">
                                    <td ng-show="advisorshowname()" style="width: 20%">{{advi.student.name}}</td>
                                    <td style="width: 10%">{{advi.dates}}</td>
                                    <td style="width: 10%">{{advi.categoryAdvise.nameCategory}}</td>
                                    <td style="width: 15%">{{advi.title}}</td>
                                    <td style="width: 35%">{{advi.detail}}</td>
                                    <td style="width: 10%">
                                        <button ng-click="dowloads(advi)" ng-if="!!advi.fileUpload.id">
                                            <span class="mdi-file-file-download"></span>
                                        </button>
                                        <label style="color: red" ng-if="!advi.fileUpload.id">ไม่มีไฟล์ข้อมูล</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                
                        <ul class="pagination pull-right">
                            <li id="firstpageadvisor"><a ng-click="firstPageAdvise()">&Lt;</a></li>
                            <li id="prepageadvisor" ><a ng-click="prePageAdvise()">&lt;</a></li>
                            <li><a>{{page + 1}}</a></li>
                            <li id="nextpageadvisor"><a ng-click="nextPageAdvise()">&gt;</a></li>
                            <li id="finalpageadvisor"><a ng-click="finalPageAdvise()">&gg;</a></li>
                        </ul>
                   
            </div>
        </div>
    </div>
</div>
