
<div class="col-md-12">
    <br>
    <div  ng-show="checkTeacherLogin()">
        <div class="col-md-6">
            <a href="#/behaviorAdd"><button class="btn btn-success" style="width: 200px">รายงานความประพฤติ</button></a>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">ค้นหาชื่อ :</div>
                <div class="panel-body" style="height: 70px">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3">Search</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control col-md-3" ng-model="keyword">
                            </div>
                            <button class="btn btn-default" ng-click="behaviorSearch(keyword)">
                                <span class="mdi-action-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">รายงานความประพฤติ</div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th ng-show="behaviorshowname()" style="width: 20%">ชื่อนักศึกษา</th>
                            <th style="width: 10%">วันที่</th>
                            <th style="width: 15%">ชื่อเรื่อง</th>
                            <th style="width: 35%">รายละเอียดความประพฤติ</th>
                            <th style="width: 10%">File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="beha in behaviorshow.content">
                            <td ng-show="behaviorshowname()" style="width: 20%">{{beha.student.name}}</td>
                            <td style="width: 10%; word-wrap: break-word ;">{{beha.dates}}</td>
                            <td style="width: 15%; word-wrap: break-word ;">{{beha.title}}</td>
                            <td style="width: 35%; word-wrap: break-word ;">{{beha.detail}}</td>
                            <td style="width: 10%; word-wrap: break-word ;">
                                <button ng-click="dowloads(beha)" ng-if="!!beha.fileUpload.id">
                                    <span class="mdi-file-file-download"></span>
                                </button>
                                <label style="color: red" ng-if="!beha.fileUpload.id">ไม่มีไฟล์ข้อมูล</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination pull-right">
                    <li id="firstpage"><a ng-click="firstPageBehavior()">&Lt;</a></li>
                    <li id="prepage" ><a ng-click="prePageBehavior()">&lt;</a></li>
                    <li><a>{{page + 1}}</a></li>
                    <li id="nextpage"><a ng-click="nextPageBehavior()">&gt;</a></li>
                    <li id="finalpage"><a ng-click="finalPageBehavior()">&gg;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>