
<div class="col-md-11">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="list-group-item-heading">เพิ่มความประพฤติ</h4>
        </div>
        <div class="panel-body">
            <div class="list-group-item-text">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"> นักศึกษา</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="studentShow.name" ng-click="clickStudent()">
                            </div>  
                        </div> 
                        <div class="form-group">
                            <label for="text" class="col-lg-2 control-label">วันที่</label>
                            <div class="col-lg-10"><span style="color: red">{{savebehaviorerror.violations.dates.message}}</span>
                                <input class="datepicker-custom form-control" type="text" ng-model="behavior.dates" ng-change="savebehaviorerror.violations.dates.message = ''">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-lg-2 control-label">ชื่อเรื่อง</label>
                            <div class="col-lg-10"><span style="color: red">{{savebehaviorerror.violations.title.message}}</span>
                                <input type="text" class="form-control" ng-model="behavior.title" ng-change="savebehaviorerror.violations.title.message = ''">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-lg-2 control-label">รายละเอียดความประพฤติ</label>
                            <div class="col-lg-10"><span style="color: red">{{savebehaviorerror.violations.detail.message}}</span>
                                <input type="text" class="form-control" ng-model="behavior.detail" ng-change="savebehaviorerror.violations.detail.message = ''"> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFile" class="col-lg-2 control-label">แนบไฟล์</label>
                            <div class="col-lg-10">
                                <input type="file" class="form-control" file-model="file" custom-on-change ="saveFileBehavior">
                            </div>
                        </div>
                        <div class="form-group">
                            <center>
                                <button class="btn btn-success" ng-click="saveBehavior()">บันทึก</button>
                                <a href="#/behavior"><button class="btn btn-danger">ยกเลิก</button></a>
                            </center>
                        </div>
                    </fieldset>
                </form>
            </div> 
        </div>
    </div>




    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">ความประพฤติ</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>ชื่อนักศึกษา</th>
                        <th>วันที่</th>
                        <th>ชื่อเรื่อง</th>
                        <th>รายละเอียดความประพฤติ</th>
                        <th>ไฟล์แนบ</th>
                        <th>แก้ไข</th>
                        <th>ลบ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beha in behaviorshow.content">
                        <td  style="word-wrap: break-word ;">{{beha.student.name}}</td>
                        <td  style="word-wrap: break-word ;">{{beha.dates}}</td>
                        <td  style="word-wrap: break-word ;">{{beha.title}}</td>

                        <td style="word-wrap: break-word ;">{{beha.detail}}</td>
                        <td style="word-wrap: break-word ;">{{beha.fileUpload.name}}</td>                          
                        <td>
                            <button ng-click="editBehavior(beha)">
                                <span class="mdi-editor-mode-edit"></span>
                            </button>
                        </td>
                        <td>
                            <button ng-click="clickDelete(beha)" data-toggle="modal" data-target="#complete-dialog-deletebehavior">
                                <span class="mdi-action-delete"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <ul class="pagination pull-right">
            <li id="firstpagebehavior"><a ng-click="firstPageBehavior()">&Lt;</a></li>
            <li id="prepagebehavior" ><a ng-click="prePageBehavior()">&lt;</a></li>
            <li><a>{{page + 1}}</a></li>
            <li id="nextpagebehavior"><a ng-click="nextPageBehavior()">&gt;</a></li>
            <li id="finalpagebehavior"><a ng-click="finalPageBehavior()">&gg;</a></li>
        </ul>
    </div>
</div> 


<div id="complete-student" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">เลือกนักศึกษา</h4>
            </div>
            <br>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label">ค้นหา :</label>
                        <div class="col-md-5">
                            <input type="student" class="form-control" placeholder="Enter Student" ng-model="keyword">
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-info" style="margin-top: -5px" ng-click="studentSearch()">ค้นหา</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>ชื่อ</th>
                                <th>อีเมล์</th>
                                <th>เลือก</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="st in studentOfTeacher.content">
                                <td>{{st.name}}</td>
                                <td>{{st.email}}</td>
                                <td><a ng-click="selectStudent(st)" data-dismiss="modal">เลือก</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">ปิด</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="complete-dialog-savebehaviors" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">บันทึกสำเร็จ</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">ตกลง</button> 
            </div>
        </div>
    </div>
</div>
<div id="complete-dialog-deletebehavior" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">ยืนยันการลบ</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" ng-click="deleteBehavior(delete)" data-toggle="modal" data-target="#complete-dialog-deletebehavior">ลบ</button>
                <button class="btn btn-primary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>