<br>
<div class="col-md-8" ng-app="admin_add_information" ng-controller="admin_add_informationController" >


    <div class="panel panel-success">
        <div class="panel-heading">
            <span class="mdi-action-home">
                <h3 class="panel-title">ประชาสัมพันธ์</h3>
            </span>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li><a href="http://reg.rmutk.ac.th/registrar/home.asp">ระบบลงทะเบียนเรียน</a></li>
                <li><a href="http://md.rmutk.ac.th/">ระบบ E-Learning</a></li>
                <li><a href="http://mis.rmutk.ac.th/">ระบบประเมินผลการสอน</a></li>
                <li><a href="https://www.facebook.com/%E0%B8%81%E0%B8%AD%E0%B8%87%E0%B8%9E%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B2%E0%B8%99%E0%B8%B1%E0%B8%81%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2-%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B9%80%E0%B8%97%E0%B8%84%E0%B9%82%E0%B8%99%E0%B9%82%E0%B8%A5%E0%B8%A2%E0%B8%B5%E0%B8%A3%E0%B8%B2%E0%B8%8A%E0%B8%A1%E0%B8%87%E0%B8%84%E0%B8%A5%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E-449150661868525">กองพัฒนานักศึกษา</a></li>
            </ul>
            <div class="panel panel-default" ng-repeat="news in informationshow.content">
                <div class="panel-heading">
                    <h3 class="panel-title">{{news.title}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-9">
                        <label style="font-size: small">{{news.startTime}}</label>
                        <p style="font-size: small">{{news.pageBrief}}</p>
                        <p style="font-size: small">{{news.file}}</p>
                        <p style="font-size: small"><a href="{{news.linkWeb}}">{{news.linkWeb}}</a></p>
                        <div>
                            <p style="font-size: small ; word-wrap: break-word ;">{{news.description}}</p>
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="!!news.fileUpload.id">
                        <label style="font-size: small">ดาวน์โหลดเอกสาร/ไฟล์แนบ</label>
                        {{news.fileUpload.name}}
                        <button ng-click="dowloads(news)" >
                            <span class="mdi-file-file-download"></span>
                        </button>
                        <label style="color: red" ng-if="!news.fileUpload.id"></label>
                    </div>
                </div>
            </div>
            <ul class="pagination pull-right">
                <li id="firstpageinformation"><a ng-click="firstPageinformation()">&Lt;</a></li>
                <li id="prepageinformation" ><a ng-click="prePageinformation()">&lt;</a></li>
                <li><a>{{page + 1}}</a></li>
                <li id="nextpageinformation"><a ng-click="nextPageinformation()">&gt;</a></li>
                <li id="finalpageinformation"><a ng-click="finalPageinformation()">&gg;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="datepicker-custom form-control" style="height: 250px">
    </div>
</div>





<div id="complete-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">ไม่มี! ที่คุณค้นหา</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">ตกลง</button>

            </div>
        </div>
    </div>

</div>